/* ----------------- VARIABLES ----------------- */
* {
  box-sizing: border-box;
  /* padding won't add to the width of the columns  */
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
/* sets width for layout */
.wrapper {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}
.banner {
  background: #31323d url(/images/bg.svg);
  background-repeat: repeat;
}
.banner h1 {
  text-transform: uppercase;
  color: #ffffff;
  padding: 2em 0;
  margin: 0;
  font-size: 5em;
  line-height: .85;
}
.nav {
  background: #3a3b49;
}
.nav a,
.nav label {
  text-transform: uppercase;
  font-size: 1.25em;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  margin-right: 2em;
}
.nav a:hover,
.nav label:hover {
  color: #4ad7b1;
}
.nav label {
  margin-right: 0;
  padding-right: 1.5em;
  border-right: 1px solid #4ad7b1;
}
.nav label:hover {
  color: #ffffff;
}
.nav input {
  background: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  padding: 2em 1em;
}
.resources {
  margin: 0;
  padding: 0;
  list-style: none;
}
.resources li {
  width: 25%;
  float: left;
  display: inline-block;
  /* removes white spacing below images */
  position: relative;
  overflow: hidden;
  transition: transform: 0.4s, opacity 0.1s 0.3s;
}
.resources li img {
  width: 100%;
  max-width: 100%;
}
.resources li .resource_info {
  opacity: 0;
  /* resource_info is hidden */
  background: rgba(74, 215, 177, 0.85);
  padding: 2em 10%;
  position: absolute;
  /* ensures resource_info sits in the correct position */
  top: auto;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* resource-info is hidden under image until hovered over */
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.resources li .resource_info h2 {
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.resources li .resource_info .button {
  border: 2px solid #ffffff;
  padding: 1em 1.5em;
  border-radius: .5em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
}
.resources li .resource_info .price {
  display: inline;
  font-weight: 700;
  color: #31323d;
  padding-left: 1.5em;
}
.resources li:hover .resource_info {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}
